#body {
    margin: 0%;
}

#Titulo {
    color: #f5821f;

}

.border {
    border-radius: 10px;
}


ul li a:hover {
    font-size: 13pt;
    transition: 0.5s;
    text-shadow: 2px 2px 4px #181818;
    font-weight: bold;
    background-color: rgb(202, 67, 13);
}

.botao {
    background-color: #f5821f;
    border-color: f5821f;
}

.botao:hover {
    background-color: black;
    border-color: black;
}

.negrito {
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    background-color: #f5821f;
    color: white;
    padding: 20px;
    font-size: 15px;
}

.conteudo {
    padding-bottom: 100px;
}